---
route:
  receiver: "slack"

receivers:
  - name: "slack"
    slack_configs:
      - send_resolved: "{{ slack_config.send_resolved_alerts }}"
        text: "{{ slack_config.alert_text }}"
        username: "{{ slack_config.bot_name }}"
        channel: "{{ slack_config.channel }}"
        api_url: "{{ slack_config.api_url }}"
