version: "3.8"
services:
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=200h"
      - "--web.enable-lifecycle"
    restart: unless-stopped
    ports:
      - {{ services_endopoints.prometheus }}:9090
    labels:
      org.label-schema.group: "monitoring"

  alertmanager:
    image: prom/alertmanager
    volumes:
      - ./alertmanager:/etc/alertmanager
    restart: unless-stopped
    ports:
      - {{ services_endopoints.alertmanager }}:9093
    labels:
      org.label-schema.group: "monitoring"

  pushgateway:
    image: prom/pushgateway
    restart: unless-stopped
    ports:
      - {{ services_endopoints.pushgateway }}:9091
    labels:
      org.label-schema.group: "monitoring"

  nodeexporter:
    image: prom/node-exporter
    volumes:
      - "/:/rootfs:ro,rslave"
    command:
      - "--path.rootfs=/rootfs"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"

  cadvisor:
    image: gcr.io/cadvisor/cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    privileged: true
    devices:
      - /dev/kmsg
    restart: unless-stopped
    labels:
      org.label-schema.group: "monitoring"

  grafana:
    image: grafana/grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_USERS_ALLOW_SIGN_UP=false
    restart: unless-stopped
    ports:
      - {{ services_endopoints.grafana }}:3000
    labels:
      org.label-schema.group: "monitoring"

  loki:
    image: grafana/loki
    volumes:
      - loki_data:/loki
      - ./loki/config.yml:/etc/loki/local-config.yaml
    restart: unless-stopped
    ports:
      - {{ services_endopoints.loki }}:3100
    labels:
      org.label-schema.group: "monitoring"

volumes:
  caddy_data:
  prometheus_data:
  grafana_data:
  loki_data:
